.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background: rgba(42, 40, 40, 0.8);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    color: #fff;
    backdrop-filter: blur(10px);
}

.profile-background {
    background-image: url('../../resources/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px 0;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-username {
    font-size: 1.4em;
    color: #FF8C00;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.settings-button,
.save-button {
    background-color: #FF8C00;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    width: 100%; 
    transition: background-color 0.3s, transform 0.2s;
}

.settings-button:hover,
.save-button:hover {
    background-color: #e07600; 
    transform: scale(1.05);
}


.profile-settings {
    margin-top: 15px;
    width: 100%;
    text-align: left;
}

.profile-settings label {
    display: block;
    margin-bottom: 10px;
    color: #FF8C00;
}

.profile-settings input[type="text"],
.profile-settings input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    transition: border-color 0.3s;
}

.profile-settings input[type="text"]:focus {
    border-color: #FF8C00;
}

.profile-footer {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FF8C00;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.profile-picture-hover-text {
    display: none;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: #ff6600;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    cursor: pointer;
}

.profile-picture-container:hover .profile-picture-hover-text {
    display: inline-block;
}

.plus-profile {
    font-size: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-5%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.plus-profile:hover {
    background-color: #0056b3;
}

.plus-profile:hover::after {
    content: 'Upload Profile Picture';
    position: absolute;
    top: -30px;
    right: -60px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
