.create-discussion-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.create-discussion-modal-content {
    background: #2d2d2d;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: left;
}

.create-discussion-modal-content h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffcc00;
}

.create-discussion-modal-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffcc00;
}

.create-discussion-modal-content input[type="text"],
.create-discussion-modal-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #fff;
    margin-bottom: 15px;
    font-size: 1em;
    outline: none;
}

.create-discussion-modal-content textarea {
    height: 100px; 
}

.create-discussion-modal-content input[type="text"]::placeholder,
.create-discussion-modal-content textarea::placeholder {
    color: #aaa;
}

.create-discussion-modal-content button {
    padding: 10px 15px;
    border: none;
    width: 320px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 10px;
}

.create-discussion-modal-content button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.create-discussion-modal-content .close-button {
    background-color: orange; 
    color: #fff;
    margin-left: 10px;
    width: 320px;
    border-radius: 20px;
}

.create-discussion-modal-content .close-button:hover {
    background-color: #743c0a; 
}

.create-discussion-modal-content button:not(.close-button) {
    background: linear-gradient(45deg, #28a745, #218838); 
    color: #fff;
}

.create-discussion-modal-content button:not(.close-button):hover {
    background: linear-gradient(45deg, #218838, #2d8642); 
}
