.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.header nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-navlink {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo img {
    height: 50px;
    cursor: pointer;
}

.auth-links {
    display: flex;
    gap: 20px;
}

.auth-links .nav-navlink {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-navlink:hover,
.auth-links .nav-navlink:hover {
    color: #ff6600;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-navlinks,
.welcome-message {
    color: white;
    margin: 0;
    font-size: 20px;
}


.logout-btn {
    color: white;
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 15px;
}