.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.all-recipes-background {
    background-image: url('../../resources/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;
}

.sort-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(222, 236, 152);
}

.sort-select {
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid #efc185;
    border-radius: 20px;
    background-color: #e3cf86;
    color: #000000;
    transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.sort-select:hover {
    border-color: #ab5c02;
    background-color: #d0b56b;
    transform: translateY(-1px);
    box-shadow: 0 0 10px rgba(220, 184, 5, 0.8), 0 0 20px rgba(225, 193, 113, 0.5);
}

.sort-select:focus {
    outline: none;
    border-color: #f08a06;
    box-shadow: 0 0 10px rgba(200, 178, 117, 0.8), 0 0 20px rgba(231, 217, 18, 0.5);
}